In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/california-housing-prices/housing.csv

In [2]:
data_path="/kaggle/input/california-housing-prices/housing.csv"
data=pd.read_csv(data_path)

In [3]:
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [4]:
data.drop(['ocean_proximity'],axis=1)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0
...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0

In [5]:
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [6]:
X=data
y=data['median_house_value']

In [7]:
X=data.drop(['median_house_value','ocean_proximity'],axis=1)

In [8]:
X.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

**check for missing values**

In [11]:
X.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
dtype: int64

In [12]:
print((207/X.shape[0])*100)

1.002906976744186

**using bfill to fill missing values**

In [13]:
X=X.fillna(method='bfill',axis=0).fillna(0)

no more missing values

In [14]:
X.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
dtype: int64

In [15]:
x_train,x_test,y_train,y_test=train_test_split(X,y,train_size=0.8,test_size=0.2,random_state=1)

*reviewing all the train and test sets*

In [16]:
y_train.head()

15961    255600.0
1771     114600.0
16414    137500.0
5056     118800.0
8589     422700.0
Name: median_house_value, dtype: float64

In [17]:
x_train.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
15961,-122.43,37.71,52.0,1410.0,286.0,879.0,282.0,3.1908
1771,-122.35,37.95,42.0,1485.0,290.0,971.0,303.0,3.6094
16414,-121.24,37.90,16.0,50.0,10.0,20.0,6.0,2.6250
5056,-118.35,34.02,34.0,5218.0,1576.0,3538.0,1371.0,1.5143
8589,-118.39,33.89,38.0,1851.0,332.0,750.0,314.0,7.3356

In [18]:
x_test.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
4712,-118.36,34.06,39.0,2810.0,670.0,1109.0,624.0,3.2500
2151,-119.78,36.78,37.0,2185.0,455.0,1143.0,438.0,1.9784
15927,-122.42,37.73,46.0,1819.0,411.0,1534.0,406.0,4.0132
82,-122.28,37.81,52.0,340.0,97.0,200.0,87.0,1.5208
8161,-118.13,33.82,37.0,1530.0,290.0,711.0,283.0,5.1795

In [19]:
y_test.head()

4712     355000.0
2151      70700.0
15927    229400.0
82       112500.0
8161     225400.0
Name: median_house_value, dtype: float64

In [20]:
model=RandomForestRegressor()
model.fit(x_train,y_train)

RandomForestRegressor()

In [21]:
predict=model.predict(x_test)

**reviewing efficiency of the regressor model**

In [22]:
print(mean_absolute_error(y_test,predict))

31713.411308139534

In [23]:
output=pd.DataFrame({'Original values':y_test,'predicted values':predict})

printing the original vs results

In [24]:
output.head()

       Original values  predicted values
4712          355000.0         340105.11
2151           70700.0          64949.00
15927         229400.0         245496.01
82            112500.0         125845.03
8161          225400.0         252664.02

In [25]:
output.iloc[1:50]

       Original values  predicted values
2151           70700.0          64949.00
15927         229400.0         245496.01
82            112500.0         125845.03
8161          225400.0         252664.02
6636          263000.0         336709.16
17333         226800.0         234717.00
19081         166200.0         179901.00
13298         118000.0         142015.00
7157          156300.0         149015.00
15734         293800.0         345319.08
12388          97500.0         140905.00
13589          63500.0          71960.00
3403          314900.0         312074.07
11888          92400.0         112263.00
7385          117200.0         113324.00
18378         485000.0         381846.06
6104          141900.0         152997.00
6881          188500.0         185295.00
16035         228600.0         256209.00
18836          71200.0          61592.00
9694          108500.0         114582.00
16297          56400.0          74618.00
15020         174400.0         179573.00
14928         245200.0         272764.01
9474           92600.0         104460.00
19710         102400.0         111334.00
391           256100.0         230092.01
516           471600.0         440908.38
12380         122500.0         186715.03
2372           63900.0          69430.00
18760         128300.0         114756.00
17356         195700.0         182783.00
19944          64800.0          76572.00
20506         276500.0         340295.05
1925           87500.0         190429.00
2465           83600.0          73121.00
7080          203700.0         231791.00
11565         210600.0         230608.00
12431          58600.0          71046.00
2377           58900.0          63762.00
14909         156000.0         185248.00
442           245500.0         233557.00
17276         500000.0         277259.02
9557           69100.0          92450.00
10961         170100.0         167268.00
11605         193800.0         315386.02
9160          199600.0         261045.00
6086          206900.0         181128.00
2874           54300.0          53851.00

**Decent first try, will look to develop this further**